@media screen and (min-width: 992px) {
  * {
    background-color: #e7f5ff;
  }
  body {
    display: grid;
    grid-template-columns: 1ft 1ft 1ft 1ft;
    grid-template-rows: 1ft 1ft 1ft 1ft 1ft;
    border: 15px solid #1c7ed6;
    gap: 0px;
  }
  .goals {
    grid-column: 1/4;
    grid-row: 1/4;
  }
  .goals li {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .scopes {
    grid-column: 1/4;
    grid-row: 4/6;
  }
  .container {
    display: flex;
    flex-direction: row;
    gap: 10x;
  }

  .team {
    grid-column: 4/5;
    grid-row: 1/4;
  }
  .primary {
    grid-column: 4/5;
    grid-row: 4/6;
  }
  .timeline {
    grid-column: 5/6;
    grid-row: 1/6;
  }
  .goals,
  .scopes,
  .team,
  .primary,
  .timeline {
    border: 10px solid #1c7ed6;
  }

  h1 {
    border-bottom: 1px solid #ced4da;
    font-size: larger;
    color: #339af0;
    margin-left: 20px;
  }
  h3 {
    font-weight: 400;
    font-size: 18px;
  }
  .icon-1 {
    width: 40px;
    color: #495057;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
  }
  /* tạo khối tròn */
  .container-number {
    content: "";
    width: 40px;
    height: 40px;
    border: 1px solid #343a40;
    border-radius: 50%;
    background-color: #9775fa;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 0 5px;
  }
}
